.sobre-escola{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 250px;
  background-color: #f33535;
  border-radius: 20px;

}

.container-autoridade{
  padding: 20px;
  border-left: 5px solid #ffffff;
}

.container-autoridade > a{
  font-size: 100px;
  color: #ffffff;
}

.container-autoridade > h1{
  color: #ffffff;
}